html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #411268;
}

.bg2 {
  background-image: linear-gradient(to right, #545454, #ffffff);
}

h1 {
  font-family: Brush Script MT;
  text-align: center;
  font-size: 130px;
  color: #a98f42;
}

/*heading for the photo gallery site  */
.PhotoHd {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: flex-start;
  font-size: 80px;
  color: #d9d9d9;
  border-radius: 17px;
  border: 2px solid black;
  background-color: #454545;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  text-shadow: 3px 3px 3px #bdbcbc;
}

/*more text for the photo gallery site  */
.PhotoHd2 {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  font-size: 40px;
  border-radius: 17px;
  border: 2px solid black;
  background-color: #454545;
  color: #d9d9d9;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;


}

h2 {
  font-family: Georgia;
  margin-left: 110px;
  font-size: 80px;
  color: #a98f42;
}

h3 {
  font-family: Georgia;
  text-align: center;
  font-size: 90px;
  color: #a98f42;
}

p {
  font-family: Georgia;
  font-size: 60px;
  color: #a98f42;
}

p2 {
  font-family: Georgia;
  margin-left: 110px;
  font-size: 60px;
  color: #a98f42;
}

p3 {
  margin: 100px;
  font-family: Georgia;
  font-size: 30px;
  color: #a98f42;
}

p4 {
  font-family: Georgia;
  margin-left: 150px;
  font-size: 30px;
  color: #a98f42;
}

p6 {
  font-family: Georgia;
  margin: 110px;
  font-size: 60px;
  color: #a98f42;
}


.pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 50px;
}

/*  sets peramiters for the images of the image gallery site*/
.whiteborder {
  border: 6px solid #d9d9d9;
  border-radius: 6px;
  width: 100%;
  height: auto;
}

.bordered {
  border: 2px dashed #a98f42;
  padding-bottom: 60px;
}

.bordered2 {
  border: 2px dashed #a98f42;
  padding-bottom: 7px;
}

.rightSide {
  text-align: right;
}

.rightMargin {
  margin-right: 700px;
}

.centeredWMargin {
  text-align: center;
  margin: 75px;
}

.slightrightMargin {
  margin-right: 100px;
}

.centered {
  text-align: center;
}

ul {
  font-family: Georgia;
  text-align: left;
  font-size: 40px;
  color: #a98f42;
  list-style-type: none;
}

button {
  font-family: Georgia;
  font-size: 50px;
  background-color: #7333a3;
  border: 2px solid black;
  border-bottom: 6px solid black;
  border-right: 6px solid black;
  border-radius: 15px;
  display: inline;
  margin: 10px;
}

/*button for the image gallery site */
.butons {
  font-family: Georgia;
  font-size: 50px;

  border-radius: 17px;
  border: 2px solid black;
  background-color: #454545;
  color: #d9d9d9;
  border-bottom: 6px solid black;
  border-right: 6px solid black;
  display: inline;
  margin: 10px;
}

button:hover {
  font-family: Georgia;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}

.button-container,
.button-container2 {
  display: flex;
  justify-content: flex-start;
  /* Center buttons horizontally */
  align-items: flex-end;
  /* Align buttons to the bottom */
  width: 100%;
  /* Make containers full width */
}

.allignMiddle {
  display: flex;
  justify-content: center;
  /* Horizontal center */
  align-items: bottom;
  /* Vertical center */
}


.paddingLR {
  padding-left: 15px;
  padding-right: 15px;
}

.paddingTB {
  padding-bottom: 15px;
  padding-top: 15px;
}

.padding {
  padding: 15;
}

.marginLR {
  margin-left: 15px;
  margin-right: 15px;
}

.marginTB {
  margin-bottom: 15px;
  margin-top: 15px;
}

.yellow-text {
  color: #a98f42;
}


.correct-ratio {
  object-fit: cover;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.Secret {
  font-family: Georgia;
  font-size: 60px;
  color: #552e76;
  background-color: #411268;
  border: 0px;
}

.container {
  position: relative;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 120%;
  background-image: radial-gradient(#545454, #ffffff);
  overflow: clip;
  width: 0;
  height: 100%;
  transition: width 0.5s ease, left 0.5s ease;
  overflow-wrap: break-word;
}

.container:hover .overlay {
  width: 115%;
  left: 0;
}

.text {
  text-align: center;
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
}